body {
  background: rgb(232 237 253);
  font-family: "Rubik", sans-serif;
}

.container {
  background: #f7f7fd;
  box-shadow: 0 3px 7px rgb(132 145 147);
  border-radius: 16px;
  max-width: 650px;
  margin: 45px auto;
  padding: 20px;
}

h1 {
  color: #000000;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

h2 {
  color: #4c4465;
  font-size: 18px;
  font-weight: 400;
  padding: 15px;
  text-align: center;
  margin: 16px 0 26px 0;
}

img {
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  max-width: 90%;
}

p {
  color: #4c4465;
  font-size: 17px;
  line-height: 1.3;
  padding: 15px;
}

a {
  color: #443ed8;
  display: block;
  margin-top: 10px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background: linear-gradient(
    178.6deg,
    rgb(232, 245, 253) 3.3%,
    rgb(252, 253, 255) 109.6%
  );
  color: #443ed8;
  display: block;
  font-size: 18px;
  padding: 18px 25px;
  display: block;
  margin: 0 auto 30px auto;
  margin-top: 25px;
  border: 1px solid #443ed8;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}

button:hover {
  background: #443ed8;
  color: white;
  cursor: pointer;
}

div {
  font-weight: 500;
  text-align: center;
}

footer {
  border-top: 1px solid rgb(232 237 253);
  padding: 20px 0 ;
}

span {
  color: #443ed8;
}


